/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: var(--background);
  max-width: calc(1440px + 20px);
  padding: 10px;
  font-family: var(--font-main), monospace;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

header {
  margin-bottom: 50px;
  position: relative;
  align-items: start;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

footer {
  margin-top: 48px;
  position: relative;
}
